<tr>
  <td><%= link_to "#{restaurant.name}", restaurant_path(restaurant)%></td>
  <td><%= restaurant.address %></td>
  <td><%= restaurant.phone_number %></td>
  <td><%= restaurant.category %></td>
</tr>
